<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="BrowserStack E2E Suite" parallel="false">
    
    <listeners>
        <listener class-name="com.BrowserStack.Utils.TestListener"/>
    </listeners>

    <test name="E2E Flow">
        <classes>
            <class name="com.BrowserStack.test.LoginTest"/>
            <class name="com.BrowserStack.test.ProductListTest"/> 
            <class name="com.BrowserStack.test.AddToCartTest"/>
            <class name="com.BrowserStack.test.CheckoutTest"/>
        </classes>
    </test>

</suite>
